<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>リストの表示</title>
  </head>
  <body>
    <div id="app">
      <!-- シンプルな配列のリスト表示 -->
      <ul>
        <li v-for="friend in friends">{{ friend }}</li>
      </ul>
      <!-- 配列+オブジェクトのリスト表示 -->
      <ul>
        <li v-for="(user, index) in users">{{ index }} {{ user.name }}({{ user.age }})</li>
      </ul>
      <!-- オブジェクトinオブジェクトのリスト表示 -->
      <ul>
        <li v-for="(student,name,index) in students">{{ name }} {{ student.email }}({{ student.age }})</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          friends: ['Ken', 'Mike', 'John', 'Lisa'],
          users: [
            { id: 1, name: 'Ken', age: 20 },
            { id: 2, name: 'Mike', age: 23 },
            { id: 3, name: 'John', age: 21 },
            { id: 4, name: 'Lisa', age: 20 },
          ],
          students: {
            Ken: {
              age: 20,
              email: 'ken@gmail.com',
            },
            Mike: {
              age: 23,
              email: 'mike@gmail.com',
            },
            John: {
              age: 21,
              email: 'john@gmail.com',
            },
            Lisa: {
              age: 20,
              email: 'lisa@gmail.com',
            },
          },
        },
      });
    </script>
  </body>
</html>
